%tr#search_condition_item_row_residence.search_condition
  %th
    = table_row_name(category)
  %td#residence.search_residence
    .form_block.nocustom
      %input.form-control{class:"#{category}-tag-search-field",type:"text", placeholder: "入力してください", data:{category: category}}
    %ul{id:"#{category}-tag-list"}
    .pt-2{id:"#{category}-search-result"}
