.profile-card.pb-4.clearfix
  .card-top.col-lg-2
    .rounded-circle.image-icon
      = image_tag("http://an-blog.com/wp-content/uploads/2016/07/022-300x300.jpg", class: "")
    .card-title
      %span 星野 源
    .card-title
      %span ( シンガーソングライター )
  .card-bottom.col-xs-10.col-lg-10
    %h2.mb-2 日村のバースデイソングを作ること
    %p ここの欄は１００文字がいい感じに収まる。ハマっていることについて９９文字まで載せ、最後の１文字を...にする。ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
