
なんでやねん
abcde
<div class="c-card__mediaAction">
  <span class="c-card__mediaActionButton c-card__mediaActionButton--favorite js-favorite  is-active" data-product-id="14242833" data-active="false">お気に入り(minneからの引用)</span>
</div>
<%= render partial: 'stars/stars', collection: @stars, as: :star %>