.album.py-5.bg-light
  .container
    .row
      - 9.times do |i|
        .col-md-4.col-6.pr-1.pl-1
          = link_to "#" do
            .card.mb-4.box-shadow
              = image_tag("https://a0.muscache.com/im/pictures/19672386/3f6c4359_original.jpg?aki_policy=large",class: "card-img-top")
              .card-body
                %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  %small.text-muted 9 mins
                  .btn-group
                    %button.btn.btn-sm.btn-outline-secondary{type: "button"} Link
                    %button.btn.btn-sm.btn-outline-secondary{type: "button"} Fav
