%nav.navbar.p-0.mt-2
  %input#openSearchConditionBtn.form-control.col-lg-4.ml-4.mr-4{"aria-label" => "Search", placeholder: "Search", type: "text"}/
  %ul.navbar.nav
    %li.nav-item.text-nowrap.navbar-nav.pl-3.pr-3
      %a.nav-link{href: "#"} 閲覧履歴
    %li.nav-item.text-nowrap.navbar-nav.pl-3.pr-3
      = link_to "お気に入り", likes_path, class: "nav-link"
    - if user_signed_in?
      %li.nav-item.text-nowrap.navbar-nav.pl-3.pr-3
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
