%nav.navbar.flex-lg-nowrap.p-0.mt-2
  %input#openSearchConditionBtn.form-control.form-control-dark.col-lg-4.ml-4.mr-4{"aria-label" => "Search", placeholder: "Search", type: "text"}/
  %ul.navbar.nav
    %li.nav-item.text-nowrap.navbar-nav.pl-3.pr-3
      %a.nav-link{href: "#"} 閲覧履歴
    %li.nav-item.text-nowrap.navbar-nav.pl-3.pr-3
      %a.nav-link{href: "#"} お気に入り
.jumbotron.jumbotron-fluid
  .container.pt-xs-3.pt-lg-3
    %h1.display-4 bigc
    %p.lead 未来の自分を探そう！
