.description_background
  .container.pt-xs-3.pt-lg-3.mt-5.mb-5
    .row.justify-content-end
      .col-lg-6
        %h1.detail_header Our Service
        -# .description.mt-3
        -#   BigCは、あなたが夢と出会うお手伝いをします。
        -#   %br/
        -#   自分と似ている境遇の大人、似ている悩みを持っている大人が
        -#   %br/
        -#   今どんなことに夢中になっているかを検索することができます。
      .col-lg-6.align-self-end.box-like-cloth
        %h2 未来の自分と夢に出会える場
        .description.mt-3
          BigCは、あなたが夢と出会うお手伝いをします。
          %br/
          自分と似ている境遇の大人、似ている悩みを持っている大人が
          %br/
          今どんなことに夢中になっているかを検索することができます。

