.description_background
  .container.pt-xs-3.pt-lg-3.mt-5.mb-5
    .row.justify-content-end.introduction
      .col-lg-5
        .subtitle
          %h2 今の自分から探す、未来の自分
      .col-lg-7.align-self-end.box-like-cloth
        .description.mt-3
          .description__text
            %p ここは、あなたが夢中になれるものをみつける場所です。
            %p 自分と似た人、同じような特技や悩みを持った人たちが、
            %p いまどんなことに夢中になっているのか見てみましょう！

