.category-barnav.clearfix
  %ul.nav-pills.nav-justified
    %li.category-bar_nav__item.col-xs-2
      %button.disable_btn 何から探す？
    %li.category-bar_nav__item.col-xs-2
      %button{href: "#"}
        得意なこと
    %li.category-bar_nav__item.col-xs-2
      %button{href: "#"}
        苦手なこと
    %li.category-bar_nav__item.col-xs-2
      %button{href: "#"}
        悩んでいること 
    %li.category-bar_nav__item.col-xs-2
      %button{href: "#"}
        いろいろ
        
