.category-barnav
  %ul.nav-pills.nav-justified
    %li.category-bar_nav__item
      %button{href: "#"} 得意なことから探す
    %li.category-bar_nav__item
      %button{href: "#"} 苦手なことから探す
    %li.category-bar_nav__item
      %button{href: "#"} 悩んでいることから探す
    %li.category-bar_nav__item
      %button{href: "#"} 全部から探す
