%nav.navbar.navbar-expand-lg.navbar-light.bg-light{style: "position: sticky; top: 0px; z-index: 5"}
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", type: "button"}
    さがす
  #navbarNavDropdown.collapse.navbar-collapse{style: "position: sticky; top: 0px; z-index: 5"}
    %ul.navbar-nav
      %li.nav-item.active.pl-xs-3.pl-lg-3
        %a.nav-link.disabled 何から探す？
      %li.nav-item
        %a.nav-link#searchByPositive 好き・得意なこと
      %li.nav-item
        %a.nav-link#searchByNegative 嫌い・苦手なこと
      %li.nav-item
        %a.nav-link#searchByWorry 悩んでいること
      %li.nav-item
        %a.nav-link#searchByAll いろいろ
