%tr#search_condition_item_row_lodger.sortable_row
  %th
    =table_row_name(junction_table)
    %p.note 複数可
  %td
    %span.td_scroll
      /
      %ul.form_list
        -# %li.form_item.do_not_care
        -#   =check_box_tag "q[#{junction_table.pluralize}_#{other_table}_id_in][]", "", checked: true
        -#   %label.for_items.do_not_care
        -#     こだわらない
        -other_table.classify.constantize.all.each do |ele|
          %li.form_item
            =check_box_tag "q[#{junction_table.pluralize}_#{other_table}_id_in][]", ele.id, false
            %label.for_items
              =ele.name
