= render 'shared/navbar'
.addiction-show
  .addiction-h_profile#profile
    %h1 プロフィール
  = render 'profile_card'
  .addiction-show__body#summary
    .summary-title
      %i.fa.fa-lg.fa-star-o{"aria-hidden" => "true"}
      %i.fa.fa-2x.fa-star{"aria-hidden" => "true"}
      %i.fa.fa-lg.fa-star-o{"aria-hidden" => "true"}
      %h1 ハマっていることのタイトルは最長２０文字
    .addiction-card
      .addiciton-img
        = image_tag("https://img.barks.jp/image/review/1000121850/h1.jpg")
      .addiction-content
        .addiction-text
          %p ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
      #addicted-points.addiction-content
        .addiction-h
          %h2 楽しいところ
        .addiction-text
          %p 台本を読ませていただいたのが2017年の夏ごろで、そこから作り始めたんですが、先に挿入歌の「ここにいないあなたへ」ができたんです。劇中で流れるということもあって、今回の『のび太の宝島』にしっかり寄り添った曲になりました。なので主題歌に関しては、映画シリーズの“大長編ドラえもん”全作に共通することを歌いたいと思ったんです。『のび太の宝島』からさらに飛躍して、もう少し大きな曲を作りたかった。そこから“何者でもなくても 世界を救おう”という歌詞ができました。
      #difficult_points.addiction-content
        .addiction-h
          %h2 大変なところ
        .addiction-text
          %p 台本を読ませていただいたのが2017年の夏ごろで、そこから作り始めたんですが、先に挿入歌の「ここにいないあなたへ」ができたんです。劇中で流れるということもあって、今回の『のび太の宝島』にしっかり寄り添った曲になりました。なので主題歌に関しては、映画シリーズの“大長編ドラえもん”全作に共通することを歌いたいと思ったんです。『のび太の宝島』からさらに飛躍して、もう少し大きな曲を作りたかった。そこから“何者でもなくても 世界を救おう”という歌詞ができました。
      #trigger.addiction-content
        .addiction-h
          %h2 ハマったきっかけ
        .addiction-text
          %p 台本を読ませていただいたのが2017年の夏ごろで、そこから作り始めたんですが、先に挿入歌の「ここにいないあなたへ」ができたんです。劇中で流れるということもあって、今回の『のび太の宝島』にしっかり寄り添った曲になりました。なので主題歌に関しては、映画シリーズの“大長編ドラえもん”全作に共通することを歌いたいと思ったんです。『のび太の宝島』からさらに飛躍して、もう少し大きな曲を作りたかった。そこから“何者でもなくても 世界を救おう”という歌詞ができました。
      #future_aim.addiction-content
        .addiction-h
          %h2 将来の目標
        .addiction-text
          %p 台本を読ませていただいたのが2017年の夏ごろで、そこから作り始めたんですが、先に挿入歌の「ここにいないあなたへ」ができたんです。劇中で流れるということもあって、今回の『のび太の宝島』にしっかり寄り添った曲になりました。なので主題歌に関しては、映画シリーズの“大長編ドラえもん”全作に共通することを歌いたいと思ったんです。『のび太の宝島』からさらに飛躍して、もう少し大きな曲を作りたかった。そこから“何者でもなくても 世界を救おう”という歌詞ができました。
      #trying_things.addiction-content
        .addiction-h
          %h2 日々取り組んでいること
        .addiction-text
          %p 台本を読ませていただいたのが2017年の夏ごろで、そこから作り始めたんですが、先に挿入歌の「ここにいないあなたへ」ができたんです。劇中で流れるということもあって、今回の『のび太の宝島』にしっかり寄り添った曲になりました。なので主題歌に関しては、映画シリーズの“大長編ドラえもん”全作に共通することを歌いたいと思ったんです。『のび太の宝島』からさらに飛躍して、もう少し大きな曲を作りたかった。そこから“何者でもなくても 世界を救おう”という歌詞ができました。
      #message.addiction-content
        .addiction-h
          %h2 メッセージ
        .addiction-text
          %p 台本を読ませていただいたのが2017年の夏ごろで、そこから作り始めたんですが、先に挿入歌の「ここにいないあなたへ」ができたんです。劇中で流れるということもあって、今回の『のび太の宝島』にしっかり寄り添った曲になりました。なので主題歌に関しては、映画シリーズの“大長編ドラえもん”全作に共通することを歌いたいと思ったんです。『のび太の宝島』からさらに飛躍して、もう少し大きな曲を作りたかった。そこから“何者でもなくても 世界を救おう”という歌詞ができました。
