.category-barnav{
  height: 50px;
  width: 100vw;
  padding: 0 30px;
  border-bottom: solid 1px $borderGray;
  background-color: $white;
  ul{
  display: flex;
  text-align: center;
  vertical-align: middle;
  .disable_btn{
    border: none;
    background-color: transparent;
    &:focus,&:hover{
      outline: 0;
    }
  }
  button{
    line-height: 49px;
    padding: 0 10px;
    border: none;
    color: $fontGray;
    background-color: transparent;
    &:focus,&:hover{
      outline: 0;
      opacity: 0.5;
    }
    }
  }
}
#search-field{
  float: left;
  position: relative;
  padding-left: 50px;
  form{
    height: 40px;
    // width: 400px;
    line-height: 60px;
    padding: 5px 5px;
    display: inline;
    position: relative;
    .search__query{
      height: 40px;
      width: 400px;
      line-height: 60px;
      padding-left: 20px;
      border: solid 0.5px $borderGray;
      border-radius: 5px;
    }
    .search_submit{
      background-color: $buttonGray;
      color: $white;
    }
  }
}
a.nav-link.disabled{
  &:focus,&:hover{
    outline: 0;
    opacity: 1;
  }
}
// .header{
//   height: 80px;
//   width: 100vw;
//   min-width: 500px;
//   padding: 10px 20px;
//   background-color: $white;
//   border-bottom: 1px $borderGray solid;
//   z-index: $header;
//   text-align: center;
//   vertical-align: middle;
//   .navibar{
//     .login_button{
//       float: right;
//       padding-right: 30px;
//       line-height: 60px;
//     }
//     .navibar__search{
//       float: left;
//       position: relative;
//       padding-left: 50px;
//       form{
//         height: 40px;
//         // width: 400px;
//         line-height: 60px;
//         padding: 5px 5px;
//         display: inline;
//         position: relative;
//         .search__query{
//           height: 40px;
//           width: 400px;
//           line-height: 60px;
//           padding-left: 20px;
//           border: solid 0.5px $borderGray;
//           border-radius: 5px;
//         }
//         .search_submit{
//           background-color: $buttonGray;
//           color: $white;
//         }
//       }
//     }
//   }
// }
// .result-item {
//     width: 100%;
//     height: 100%;
//     display: block;
// }
