.profile-card{
  border: $default-border;
  border-radius: 10px;
  padding: 10px;
  .card-top{
    text-align: center;
    float: left;
    .image-icon{
      height: 11vw;
      width: 11vw;
      min-height: 50px;
      max-height: 70px;
      min-width: 50px;
      max-width: 70px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      img{
        height: 100%;
      }
    }
    .card-title{
      border-radius: 20px;
      background-color: $cream;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 0;
      padding: 5px 5px 0px 5px;
    }
  }
  .card-bottom{
    display: inline-block;
    float: right;
    padding-top: 10px;
    h4{
      font-weight: bold;
      padding-bottom: 4px;
    }
  }
}
.addiction-show{
  width: 100vw;
  margin: 10px auto;
  padding: 0 10px;
  max-width: 1000px;
}
