
@import './reset';
@import './variable';


@import "bootstrap";

/*-- Settings ---------------------------------- */

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

button{
  cursor: pointer;
  &:focus{
    outline: 0;
  }
}
input[type="text"]:focus {
  outline: 0;
}
a{
  text-decoration: none;
  color: $fontBlack;
}


body{
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
{
  color: $fontBlack;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 25px;
}
h2,
.h2 {
  font-size: 20px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 15px;
}
h6,
.h6 {
  font-size: 14px;
}
p {
  font-size: 12px;
}


/*-- jQuery ---------------------------------- */
.hidden{
  visibility: hidden;
  height:0;
  width:0;
  font-size: 0;
}
.visible{
  visibility: visible !important;
}
.removed{
  display: none;
}

.registration__button{
  color: $redOrange;
}

.login__button{
  color: $redOrange;
}
