<!-- モーダルウィンドウを呼び出すボタン -->
<% if user_signed_in? %>
  <button type="button" class="btn btn-primary">
    <div class="user_nav grid-6">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </button>
<% else %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">   
    <div class="grid-6">
      ログイン
    </div>
  </button>
<% end %>
<!-- モーダルウィンドウの中身 -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class= "p-3" >
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#tab1" class="nav-link" data-toggle="tab">会員登録</a>
             </li>
            <li class="nav-item">
              <a href="#tab2" class="nav-link" data-toggle="tab">ログイン</a>
            </li>
          </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <%= link_to "会員登録はこちらをクリック", new_user_registration_path, class: 'registration__button' %>
          </div>
          <div id="tab2" class="tab-pane">
            <%= link_to "ログインはこちらをクリック", new_user_session_path, class: 'login__button' %>
          </div>
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>